* {
    box-sizing: border-box;
}

body {
    color: #2f235e;
    font-family: 'Karla', -apple-system,system-ui,BlinkMacSystemFont,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    padding-bottom: 40px;
}

h1, h2 {
    font-weight: 700;
    width: 100%;
    margin-bottom: 1em;
}

h1 {
    font-size: 40px;
    letter-spacing: 3px;
}

h2 {
    font-size: 24px;
    letter-spacing: 0.12em;
}

a {
    border-bottom: 1px solid;
}

a:hover {
    border-bottom: 1px solid #008fe8 !important;
}

p {
    font-size: 19px;
    line-height: 1.7;
    margin-top: 0;
}

.intro-text {
    max-width: 700px;
}

.block {
    display: flex;
    flex-wrap: wrap;
    margin: 58px 14px;
    max-width: 1200px;
}

.block a {
    font-size: 20px;
    text-decoration: none;
    color: inherit;
}

.block__item {
    display: block;
    padding-right: 2em;
    width: 100%;
    box-sizing: border-box;
    margin: 1em 0;
}

.block__item a {
    display: inline-block;
    margin-bottom: 0.4em;
}

.block__item p {
    font-size: 16px;
}

.pdf-icon {
    opacity: 0.75;
    margin-right: 1.4%;
    vertical-align: middle;
    width: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.skills__single {
    padding-right: 2em;
    margin: 1em 0;
    width: 100%;
}

ul {
    list-style-position: inside;
}

li {
    font-size: 19px;
    line-height: 1.7;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    .block {
        margin: 82px auto;
        padding: 0 3.5em;
    }

    .skills {
        flex-wrap: nowrap;
    }

    .skills__single {
        width: 33%;
    }
}
